
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout_Home.cshtml";
}
<div class="container_fullwidth">
    <div class="container">
        <div class="col-md-12">
            <strong> <h4 class="title">CHÀO MỪNG ĐẾN VỚI E-SHOPPER - NƠI MUA SẮM THỜI TRANG NỮ HÀNG ĐẦU VIỆT NAM</h4></strong>
        </div>
        <div class="content_container">
            <h5 class="title">
                <strong>Nơi mua sắm lý tưởng</strong>
            </h5>
            <p>
                Với hàng trăm ngàn sản phẩm đa dạng thuộc những ngành hàng khác nhau từ sức khỏe và sắc đẹp, trang trí nhà cửa, thời trang, điện thoại và máy tính bảng đến hàng điện tử tiêu dùng và điện gia dụng, E-Shopper sẽ đáp ứng tất cả nhu cầu mua sắm của bạn.
                Bên cạnh những sản phẩm đến từ các thương hiệu quốc tế và Việt Nam, bạn cũng có thể tìm thấy nhiều sản phẩm độc quyền chỉ có duy nhất tại E-Shopper.
            </p>
        </div>
        <div class="content_container">
            <h5 class="title">
                <strong>Mua sắm dễ dàng và thuận tiện</strong>
            </h5>
            <p>
                Không còn phải lo kẹt xe, đông đúc và xếp hàng dài chờ đợi! Giờ đây, bạn có thể mua sắm bất cứ khi nào, ở bất cứ đâu trên máy tính và điện thoại di động của mình.
                Với dịch vụ chuyển hàng nhanh chóng và đáng tin cậy, bạn chỉ cần ngồi thư giãn tại nhà và món hàng sẽ được giao đến tận nơi.
            </p>
        </div>
        <div class="content_container">
            <h5 class="title">
                <strong>Mua sắm an toàn và đảm bảo</strong>
            </h5>
            <p>
                Hiểu được tầm quan trọng của việc mua sắm an toàn và đảm bảo, chúng tôi cung cấp cho khách hàng nhiều lựa chọn thanh toán an ninh bao gồm cả thanh toán khi nhận được hàng, nghĩa là bạn chỉ trả tiền khi đã nhận được món hàng của mình.
                Bảo đảm về chất lượng và tính xác thực: Tất cả các giao dịch trên E-Shopper đều được đảm bảo là sản phẩm chính hãng, mới, không khiếm khuyết hay hư hỏng. Nếu không, bạn có thể hoàn trả.
            </p>
        </div>
        <div class="content_container">
            <h5 class="title">
                <strong>Nơi mua sắm lý tưởng</strong>
            </h5>
            <p>
                Với hàng trăm ngàn sản phẩm đa dạng thuộc những ngành hàng khác nhau từ sức khỏe và sắc đẹp, trang trí nhà cửa, thời trang, điện thoại và máy tính bảng đến hàng điện tử tiêu dùng và điện gia dụng, E-Shopper sẽ đáp ứng tất cả nhu cầu mua sắm của bạn.
                Bên cạnh những sản phẩm đến từ các thương hiệu quốc tế và Việt Nam, bạn cũng có thể tìm thấy nhiều sản phẩm độc quyền chỉ có duy nhất tại E-Shopper.
            </p>
        </div>
        <div class="content_container">
            <h5 class="title">
                <strong>Nơi mua sắm lý tưởng</strong>
            </h5>
            <p>
                Với hàng trăm ngàn sản phẩm đa dạng thuộc những ngành hàng khác nhau từ sức khỏe và sắc đẹp, trang trí nhà cửa, thời trang, điện thoại và máy tính bảng đến hàng điện tử tiêu dùng và điện gia dụng, E-Shopper sẽ đáp ứng tất cả nhu cầu mua sắm của bạn.
                Bên cạnh những sản phẩm đến từ các thương hiệu quốc tế và Việt Nam, bạn cũng có thể tìm thấy nhiều sản phẩm độc quyền chỉ có duy nhất tại E-Shopper.
            </p>
        </div>

    </div>
</div>

