
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Home.cshtml";
}

<div id="contact-page" class="container">
    <div class="bg">
      
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form">
                    <h2 class="title text-center">Liên hệ với chúng tôi</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact"action="/Contact/contact" method="post">
                        <div class="form-group col-md-6">
                            <input type="text" name="Name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="Email" class="form-control" required="required" placeholder="Email">
                        </div>
                      
                        <div class="form-group col-md-12">
                            <textarea name="message" id="Message" required="required" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">Thông tin liên hệ</h2>
                    <address>
                        <p>E-Shopper</p>
                        <p>236 Hoàng Quốc Việt, Cầu Giấy, Hà Nội</p>
                        <p>Việt Nam</p>
                        <p>Mobile: +84979640196</p>
                        <p>Fax: 1-714-252-0026</p>
                        <p>Email: nguyentrinh@gmail.com</p>
                    </address>
                    <div class="social-networks">
                        <h2 class="title text-center">Social Networking</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->

