
<footer id="footer">
    <!--Footer-->
   
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo pull-left">
                        <a href="/Home/Index"><img src="/Assets/Client/images/home/logo.png" alt="" /></a>
                    </div>

                </div>
                <div class="col-sm-2"style="width:300px">
                    <div class="single-widget">
                        <h2>Thông tin liên hệ</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">E-Shopper</a></li>
                            <li><a href="">236 Hoàng Quốc Việt, Cầu Giấy, Hà Nội</a></li>
                            <li><a href="">Số điện thoại: 01696133679</a></li>
                            <li><a href="">Email: nguyentrinh96@gmail.com</a></li>
                           
                       
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2" >
                    <div class="single-widget">
                        <h2>Hỗ trợ khách hàng</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/Contact/About">Về chúng tôi</a></li>
                            <li><a href="/Contact/Index">Liên hệ với chúng tôi</a></li>
                            <li><a href="#">Thông tin khuyến mãi</a></li>
                            <li><a href="#">Tài khoản của bạn</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>Nhập Email nhận tin tức từ chúng tôi</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Your email address" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-Shopper. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>
</footer>
