@model Shop_Fashion.ViewModel.GroupViewModel
 @{
    var url = HttpContext.Current.Request.Url.AbsoluteUri;@*Lấy địa chỉ hiện tại trên thanh URL *@
  //  Session[Shop_Fashion.Common.Session.URL_SESSISON] = url;
    var user = (Shop_Fashion.Models.Entities.Account)Session[Shop_Fashion.Common.Session.USER_SESSION];
}
<script src="/Assets/Client/js/jquery.js"></script>
<script src="/Assets/Client/js/bootstrap.min.js"></script>
<script src="/Assets/Client/js/jquery.scrollUp.min.js"></script>
<script src="/Assets/Client/js/price-range.js"></script>
<script src="/Assets/Client/js/jquery.prettyPhoto.js"></script>
<script src="/Assets/Client/js/main.js"></script>


<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-phone"></i> 01696133679 </a></li>
                            <li><a href=""><i class="fa fa-envelope"></i> nguyentrinh96@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/trang-chu/"><img src="/Assets/Client/images/home/logo.png" alt="" /></a>
                    </div>
                   
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav" style="font-size:18px">
                            @if (user != null)
                            {
                                <li><a href="#"><i class="fa fa-user" style="font-size:18px"></i> @user.FullName</a></li>
                                <li><a href="/don-hang/"><i class="fa fa-shopping-cart" style="font-size:18px"></i> Theo dõi đơn hàng</a></li>
                            }
                            
                            <li><a href="/gio-hang/"><i class="fa fa-shopping-cart"style="font-size:18px"></i> Giỏ hàng</a></li>

                            @if (user == null)
                            {
                                <li><a href="/Login/Index"><i class="fa fa-sign-in" style="font-size:18px"></i> Đăng nhập</a></li>
                            }
                            else
                            {
                                <li><a href="/Login/Logout"><i class="fa fa-sign-in" style="font-size:18px"> Đăng xuất </i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
    <div class="header-bottom">
        <div class="container">
            <div class="row">               
                <div class="col-sm-9" >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/Home/Index" class="active">Trang chủ</a></li>
                            @foreach (var item in Model.ListGroup)
                            { 
                                <li class="dropdown">
                                    <a href="/Product/Index?GroupID=@item.Id" >@item.Name<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        @foreach (var subItem in Model.ListCategory)
                                        {
                                            if (subItem.IdGroup == item.Id)
                                            {                                               
                                                <li><a href="/Product/Index?CategoryID=@subItem.Id" class="active">@subItem.Name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            <li><a href="/Contact/Index">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <form class="search" action="/Product/Index" method="get">
                            <input type="text" name="search" />
                            <button type="submit" href="" class="btn" style="color:#666666"><em class="fa fa-search"></em></button>
                        </form>
                    </div>
               
            </div>
        </div>
    </div>
</header>

